body {
  text-align: center;
  background-image: url(./assets/AdobeStock_239453726.jpeg);
  background-size: cover;
  background-position: center;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin: 5%;
  color: #ffffff;
  opacity: 70%;
  text-shadow: 0 0 10px #d6aaff, 0 0 20px #d6aaff, 0 0 30px #d6aaff, 0 0 40px #8a2be2, 0 0 70px #8a2be2, 0 0 80px #8a2be2, 0 0 100px #8a2be2;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 100px;
  width: 200px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 0 4px #000000, 0 0 20px #fedfff;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}